extends ../layout

block content
  h1= title

  ul
    each game in game_list
      li
        a(href=game.url) #{game.title}
        div Price #{game.price}
        div Stock #{game.stock}
        div Platforms  
            each platform in game.platforms
                span #{platform.name}, 

    else
      li There are no games.
